@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }
}

.container {
  @apply mx-auto max-w-7xl px-4 md:px-8;
}

input,
select,
textarea {
  @apply border-border bg-background outline-ring/50;
}

button {
  @apply cursor-pointer border-border outline-ring/50;
}

button:disabled {
  @apply cursor-not-allowed;
}

pre {
  @apply px-4;
}
